body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 10px;
  color: rgb(3,3,3);
}

p {
  margin: 0;
}

.navbar {
  height: 56px;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 0 16px;
}

.navbar .navbar-left {
  margin: 0;
  padding: 0;
}

.navbar-left .navbar-item {
  width: 129px;
}

.navbar .navbar-item {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
}

.navbar .burger {
  margin: 0 16px 0 0;
  padding: 8px;
  width: 24px;
  height: 24px;
  text-align: center;
  position: relative;
  color: rgb(96,96,96);
}

.navbar .burger i {
  width: 20px;
  font-size: 20px;
  text-align: center;
}

.navbar .navbar-center {
  width: 728px;
  height: 32px;
}

.navbar-center .search-form {
  margin: 0 0 0 40px;
  padding: 0 4px;
  width: 640px;
  height: 32px;
  display: inline-block;
}

.search-form .container {
  width: 562px;
  border: 1px solid rgb(204,204,204);
  border-right: none;
  border-radius: 2px 0px 0px 2px;
  padding: 2px 6px;
  display: inline-block;
  vertical-align: middle;
}

.search-form .search-input {
  width: 100%;
}

.search-form input {
  padding: 1px;
  margin: 0 0 0 4px;
  border: 0;
  height: 24px;
  width: 100%;
  line-height: 24px;
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  color: rgb(17,17,17);
}

.search-form .search-icon {
  cursor: pointer;
  width: 65px;
  border: 1px solid rgb(204,204,204);
  border-radius: 0px 2px 2px 0px;
  background-color: rgb(248,248,248);
  padding: 0px 8px;
  width: 65px;
  display: inline-block;
  vertical-align: middle;
}

.search-form button {
  padding: 0px 8px;
  height: 32px;
}

.search-icon i {
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 17px;
  color: rgb(51,51,51);
  opacity: 0.6;
  text-align: center;
}

.navbar .navbar-right {
  height: 40px;
  width: 250px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.navbar .navbar-item {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
}

.navbar-right .icon {
  margin: 0 8px 0 0;
  padding: 8px;
  width: 24px;
  height: 24px;
  text-align: center;
  position: relative;
  color: rgb(96,96,96);
}

.navbar-right .icon i {
  width: 25px;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.navbar-right .sign-in {
  width: 106px;
  height: 40px;
  background-color: #fff;
  color: rgb(6,95,212);
  border: 1px solid rgb(6,95,212);
  padding: 0;
  cursor: pointer;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
}

.navbar-right .sign-in i {
  margin-right: 10px;
}

.section {
  display: block;
  margin-bottom: 1.5rem;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.columns {
  display: flex;
}

.columns.is-centered {
  justify-content: center;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1.5rem 1.5rem 0 0;
}

.column.is-two-thirds {
  flex: none;
  max-width: 1085px;
  min-width: 852px;
  width: 68.5%;
  margin-left: 1.5rem;
}

.column.is-one-quarter {
  flex: none;
  max-width: 402px;
  min-width: 300px;
  width: 26%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.column .title {
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  color: rgb(3,3,3);
  margin-bottom: 12px;
}

.video-info {
  padding: 20px 0 8px 0;
  border-bottom: 1px solid #E5E5E5;
}

.video-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}


.video-details p {
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(96,96,96);
}

.description {
  height: 185px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;
}

.description .top-row {
  height: 51px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 12px;
  padding-top: 16px;
}

.description .top-row .channel-image {
  margin-right: 16px;
}

.description .top-row .channel-info {
  flex: 1;
}
.description .top-row .channel-info .channel-name {
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding-top: 7px;
}

.description .top-row .channel-info .channel-subs {
  align-self: flex-start;
  color: rgb(96,96,96);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 4px;
}

.description .sub-button {
  width: 105px;
  height: 51px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.description .sub-button button {
  height: 37px;
  background-color: rgb(204,0,0);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.007px;
  vertical-align: middle;
  border: none;
  font-family: 'Roboto', Arial, sans-serif;
  border-radius: 2px;
}

.description .video-description {
  margin-left: 64px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.description .video-description .content {
  max-width: 615px;
  height: 60px;
}

.description .video-description .expand {
  height: 29px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.007px;
  line-height: 21px;
  margin-top: 8px;
  color: rgb(96,96,96);
}

.comments .header {
  height: 88px;
  display: flex;
  margin: 24px 0 32px 0;
  flex-direction: column;
}

.comments .header .top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  height: 24px;
}

.comments .header .top-row .count {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 32px;
  display: inline-block;
}

.comments .header .top-row .sort-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  color: rgb(96,96,96);
}

.sort-by i {
  font-size: 15px;
  margin-right: 9px;
}

.sort-by p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.007px;
  line-height: 20px;
}

.comments .header .comment-box {
  display: flex;
}

.comments .header .comment-box img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 16px;
}

.comments .header .comment-box .placeholder {
  padding-bottom:  4px;
  border-bottom: 1px solid #e5e5e5;
  flex: 1;
  height: 21px;
  color: rgb(96,96,96);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.comment .thumbnail {
  flex: none;
}

.comment .thumbnail img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 16px;
}

.comment .content .info {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
}

.comment .content .info .name {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 2px;
  margin-right: 4px;
  font-weight: 500;
}

.comment .content .info .time {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(96,96,96);
}

.comment .content .body {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.comment .content .stats {
  height: 33px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.comment .content .stats i {
  height: 32px;
  width: 32px;
  font-size: 16px;
  color: rgb(144,144,144);
  line-height: 32px;
  text-align: center;
}

.comment .content .stats .vote-count {
  margin-right: 8px;
  color: rgb(96,96,96);
  font-size: 13px;
  font-weight: 400;
}

.comment .content .stats .reply {
  width: 69px;
  line-height: 32px;
  text-align: center;
  color: rgb(96,96,96);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.007px;
}

.comment .content .replies {
  color: rgb(6,95,212);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.007px;
  line-height: 16px;
}

.comment .content .replies i {
  height: 20px;
  width: 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-right: 8px;
}

.next-video {
  height: 102px;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.next-video img {
  float: left;
  margin-right: 8px;
}

.next-video .video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 4px;
  width: 202px;
  margin-left: 176px;
}

.next-video .video-details {
  color: rgb(96,96,96);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.suggested-video {
  height: 102px;
}

.suggested-video img {
  float: left;
  margin-right: 8px;
}

.suggested-video .video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 4px;
  width: 202px;
  margin-left: 176px;
}

.suggested-video .video-details {
  color: rgb(96,96,96);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}